.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-primary)
}

.header .logo {
    max-height: 4.0rem;
}

.header .title-group {
    padding-left: 1rem;
}

.header .title-group p {
    padding-top: 2.4rem;
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
}